{% extends "base.html" %}
{% block body %}
<div class="container mainbd">
    <div class="container border bguser p-3">
        <h5>{{ _('FAQ') }}</h5>
        <div class="card">
            <div class="card-header">
                {{ _('1. How can I know my electricity usage?') }} 
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp">{{ _('We implemented the graph that shows your electricity usage history.') }}</p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
               {{ _('2. How can I know important messages?') }}  
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp">
                     {{ _('Our system provides notice box to notify and remind any changes of the system such as bill due date, system changes, special offers and etc.') }}</p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                {{ _('3. How much will I pay on my electricity bills? ') }}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp">{{ _('Depends on how much electricity your home or business uses and the bill will be paid for each month usage.') }}</p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                 {{ _('4. What Payment Options Do You Have?') }}  
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp"> {{ _('We offer e-wallet option for the bill payment to make electronic transactions.') }}</p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                 {{ _('5. If I forgot my password. Can you set up my account?') }} 
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp"> {{ _('Click the “Forgot Password” on the login screen, enter the answer to the security question. If the provided information is correct, a new password will be sent to the e-mail address associated to your account. ') }}</p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                {{ _(' 6. How can I calculate my total electricity usage cost?') }}  
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp"> {{ _('You can calculate the total electricity usage cost by clicking the “Calculate”. ') }}</p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                 {{ _('7. Where can I get my electricity bill receipt?') }} 
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp"> {{ _('In the “Get Receipt” page, you can get your receipt by downloading it.') }} </p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                 {{ _('8. How can I contact?') }} 
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp"> {{ _('Go to about us page and you can contact with us by calling provided phone numbers. ') }}</p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                 {{ _('9. What impacts do I have if I have a late payment?') }} 
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="faqp"> {{ _('The overdue payment will be shown in home page and it will be suspended if you lack to pay for 3 months.  ') }}</p>
                </blockquote>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}